.homecomponent{
   /* margin-top: 7%;
   margin-bottom: 5%; */
   margin-bottom: 3.5%;
   padding-top:0.3%;
   
}

/* .detailcomponent{
   margin-left: 0%;
} */
/* .p{
    background-color: aquamarine;
} */