@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

.container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: start;
    align-items: center;
    gap: 2%;
    margin-bottom: 5%;
}

.container::-webkit-scrollbar {
    border: solid 1px;
    background-color: rgb(10, 66, 108);
}

.container::-webkit-scrollbar-thumb {
    background-color: rgb(77, 135, 180);
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(110, 165, 208);
    border-radius: 10px;
}

.infoSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.infoSection * {
    font-family: 'Titillium Web', sans-serif;
}

.productImageSection {
    max-width: fit-content;
}

.productImageSection img {
    width: 100%;
    min-height: 150px;
    border-radius: 3%;
}

.title {
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
}

.itemName {
    width: 140px;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0 5px 0 5px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}